page-nav1 {
    .background-image {
        background-image: url(http://www.samsung.com/au/discover/images/linked/strong-flashlight-william-patino.jpg);
        background-size: cover;
        background-position: center;
        height: 100vw;
    }
 
    .main-content {
        padding: 20px;
        background-color: white;
        position: absolute;
    }

    ion-title{
        text-align: center;
       
        
    }

    ion-navbar{
        background-color: #AA3939;
    }
}
